body {
    font-family: 'Montserrat', sans-serif;
}

header{
    font-size: 50px;
    background: #CCCCCC;
    width: 100%;
    height: 100px;
    position: relative;
    margin: 20px auto;
    text-align: center;
}

main li{
    font-size: 0.3rem;
    padding: 10px;
}